* {
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: black;
}

.nav-item>a {
    border: 2px solid white;
    border-radius: 15px;
}

.nav-item>a>i {
    padding-left: 5px;
}

a>span {
    padding: 5px;
    padding-left: 0px;
}

@media (max-width: 768px) {
    .nav-item>a {
        border: none;
    }
}

.banner-container {
    position: relative;
    left: 0;
    height: 496px;
    width: 100%;
    background-color: #724288;
}

.heading {
    position: absolute;
    width: 50%;
    left: 173px;
    top: 185px;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 25px;
    color: #FFFFFF;
}

.banner-container>h1>span {
    font-size: 100px;
    position: relative;
    top: -70px;
}

.btn-container {
    position: absolute;
    left: 155px;
    bottom: 110px;
    display: inline-block;
}

.btn-info {
    margin: 0px 20px;
    font-size: 25px;
    border-radius: 20px;
    background-color: #63FFD0;
}

.btn-info>span {
    color: black;
    padding: 0 50px;
    font-weight: 600;
}

.body-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #220C58;
}


@media (max-width: 1236px) {
    .heading {
        font-size: 50px;
        line-height: 20px;
    }

    .banner-container>h1>span {
        font-size: 70px;
    }
}

@media (max-width: 866px) {
    .heading {
        font-size: 48px;
        line-height: 15px;
    }

    .banner-container>h1>span {
        font-size: 60px;
    }
}

@media (max-width: 768px) {
    .heading {
        font-size: 35px;
        line-height: 12px;
    }

    .banner-container>h1>span {
        font-size: 40px;
    }


    .btn-container {
        bottom: 150px;
    }

    .btn-info {
        margin: 0px 10px;
        font-size: 20px;
        border-radius: 20px;
    }

    .btn-info>span {
        padding: 0 20px;
    }
}

@media (max-width: 576px) {
    .heading {
        font-size: 19px;
        line-height: 0px;
        left: 100px;
    }

    .banner-container>h1>span {
        font-size: 32px;
    }


    .btn-container {
        left: 95px;
        bottom: 200px;
    }

    .btn-info {
        margin: 0px 5px;
        font-size: 10px;
        border-radius: 20px;
    }

    .btn-info>span {
        padding: 0 5px;
    }
}