
.nav-item>a {
    border: 2px solid white;
    border-radius: 15px;
}

.nav-item>a>i {
    padding-left: 5px;
}

a>span {
    padding: 5px;
    padding-left: 0px;
}

@media (max-width: 768px) {
    .nav-item>a {
        border: none;
    }
}

.banner-container{
    position: absolute;
    left: 0;
    height: 496px;
    width: 100%;
    background-color: #724288;
}

.heading{
    position: absolute;
    width: 50%;
    left: 173px;
    top: 185px;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 25px;
    color: #FFFFFF;
}

.banner-container > h1 > span{
    font-size: 100px;
    position: relative;
    top: -70px;
}

.btn-container{
    position: absolute;
    left: 155px;
    bottom: 110px;
    /* background-color: black; */
    display: inline-block;
    /* padding: 50px; */
}

.btn-info{
    margin: 0px 20px;
    font-size: 25px;
    border-radius: 20px;
    background-color: #63FFD0;
    color: black;
}

.btn-info > span{
    padding: 0 50px;
}